1.What is the output of the following code?

In [27]:
nums =set([1,1,2,3,3,3,4,4])
print(len(nums)) #answer - 4

4

2.What will be the output?

In [28]:
d ={"john":40, "peter":45}
print(list(d.keys())) #answer - john, peter

['john', 'peter']

3.A website requires a user to input username and password to register.

Write a program to check the validity of password given by user.

Following are the criteria for checking password:

1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
3. At least 1 letter between [A-Z]
4. At least 1 character from [$#@]
5. Minimum length of transaction password: 6
6. Maximum length of transaction password: 12

In [30]:
import re
string = input("Enter password\n")

if(len(string)<6 or len(string)>12):
  print("Invalid length. keep password between 6 to 12 characters")
elif not re.search(r'[a-z]+', string):
  print("Invalid password. Atleast one lowercase letter required")
elif not re.search(r'[A-Z]+', string):
  print("Invalid password. Atleast one uppercase letter required")
elif not re.search(r'[0-9]+', string):
  print("Invalid password. Atleast one digit required")
elif not re.search(r'[$#@]+', string):
  print("Invalid password. Atleast one special characters from {$, #,@} required")
else:
  print("Valid")

Enter password
tyY5$@i99
Valid

4.Write a for loop that prints all elements of a list and their position in the list

In [31]:
a = [4,7,3,2,5,9]

for i in range(len(a)):
  print("position", i, "element", a[i])

position 0 element 4
position 1 element 7
position 2 element 3
position 3 element 2
position 4 element 5
position 5 element 9

5.Please   write   a   program   which   accepts  a   string   from console   and   print   the characters that have even indexes.

Example: If the following string is given as input to the program:H1e2l3l4o5w6o7r8l9dThen, the output of the program should be:Helloworld

In [32]:
string = input()
print("".join([string[i] for i in range(len(string)) if i%2==0]))

H1e2l3l4o5w6o7r8l9d
Helloworld

6. Please write a program which accepts a string from console and print it in reverse order.

    Example: If the following string is given as input to the program:
    
    rise to vote sir

    Then, the output of the programshould be:
    
    ris etov ot esir

In [34]:
string = input()
print(string[::-1])

rise to vote sir
ris etov ot esir

7.Please write a program which count and print the numbers of each character in a string input by console.

Example: If the following string is given as input to the program:

abcdefgabc

Then, the output of the program should be:

a,2

c,2

b,2

e,1

d,1

g,1

f,1

In [35]:
string = input()
dct = dict()
for i in range(len(string)):
  if string[i] not in dct.keys():
    dct[string[i]] = string.count(string[i])

lst = sorted(dct.items(), key = lambda x:x[1])[::-1]
for i in lst:
  print(str(i[0])+","+str(i[1]))

abcdefgabc
c,2
b,2
a,2
g,1
f,1
e,1
d,1

8.With   two   given   lists   [1,3,6,78,35,55]   and   [12,24,35,24,88,120,155],   write   a program to make a list whose elements are intersection of the above given lists.

In [36]:
lst1 = [1,3,6,78,35,55]
lst2 = [12,24,35,24,88,120,155]

print(list(set(lst1)&set(lst2)))

[35]

9.With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [37]:
lstt = [12,24,35,24,88,120,155,88,120,155]

lst = []

for i in lstt:
  if i not in lst:
    lst.append(i)

print(lst)

[12, 24, 35, 88, 120, 155]

10.By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155]

In [38]:
print([x for x in [12,24,35,24,88,120,155] if x != 24])

[12, 35, 88, 120, 155]

11.By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155]

In [39]:
lst = [12,24,35,70,88,120,155]

print([lst[i] for i in range(len(lst)) if i not in(0,4,5)])

[24, 35, 70, 155]

12.By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155]

In [40]:
lst = [12,24,35,70,88,120,155]

print([i for i in lst if not (i%5==0 and i %7==0)])

[12, 24, 88, 120, 155]

13.Please  write  a  program  to  randomly  generate  a  list  with  5  numbers,  which  are divisible by 5 and 7 , between 1 and 1000 inclusiv

In [41]:
import random
print([5*7*random.randint(1,28) for i in range(5)])

[980, 945, 70, 945, 910]

14.Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a given  n  input  by console (n>0).


Example:

If the following n is given as input to the program:

5

Then, the output of the program should be:

3.55

In [42]:
n = int(input())
i=1
sum= 0
while i<=n:
  sum += i/(i+1)
  i += 1
print(round(sum,2))

5
3.55